<footer class="border-top">
<div class="part1">
    <div class="local">    
        <div class="lang">
            <h3>&#127760; &nbsp; English(IN)</h3>   
        </div>
        <div class="currency">
            <h3>&#8377; &nbsp; INR</h3>
        </div>
    </div>

    <div class="social">
        <div class="icon"><i class="fa-brands fa-facebook"></i></div>
        <div class="icon"><i class="fa-brands fa-x-twitter"></i></div>
        <div class="icon"><i class="fa-brands fa-instagram"></i></div>
    </div>
</div>

<div class="part2">
    <div class="copy-Right">  
        <p>&copy; 2025 Air.bnb,Inc. </p>
      </div>
      <div class="services">&nbsp;. 
        <a href="#">Privacy</a> .   
        <a href="">Terms</a> . 
        <a href="">Sitemap</a> .  
        <a href="">Company detail</a> .
      </div>

</div>
</footer>