<% layout('./layouts/boilerplate') -%>


    <body>
       
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <h3 class="mb-4 text-center">Create a Listing</h3>
        <form action="/listing" novalidate method="post" class="bg-white p-4 rounded borderv needs-validation">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="Listing[title]" required>
            
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            please Enter Title 
          </div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="Listing[description]" rows="3" required></textarea>
            
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            please Enter Description 
          </div>
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="image" name="Listing[image]">
          </div>

          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="price" name="Listing[price]" required>
             
          <div class="invalid-feedback">
            please Enter price 
          </div>
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="Listing[location]" required>

            
          <div class="invalid-feedback">
            please Enter a valid location
          </div>
          </div>

          <div class="mb-4">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" id="country" name="Listing[country]" required>
            
          <div class="invalid-feedback">
            please Enter a valid country name
          </div>
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-dark">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
    </body>